[submodule "online-dt"]
	path = online-dt
	url = https://github.com/jesn1219/online-dt
[submodule "dt"]
	path = dt
	url = https://github.com/jesn1219/dt
[submodule "mathematics"]
	path = mathematics
	url = https://github.com/jesn1219/mathematics
[submodule "model_based_agents"]
	path = model_based_agents
	url = https://github.com/jesn1219/model_based_agents
[submodule "ubuntu-controller"]
	path = ubuntu-controller
	url = https://github.com/jesn1219/ubuntu-controller
[submodule "paper_1"]
	path = paper_1
	url = https://github.com/jesn1219/paper_1
